<div class="row individual-answer-box">
  <div class="col-xs-4">
    <img src={{answer.image}} class="answer-avatar">
    <br>
  </div>

  <div class="col-xs-8">
    <h3>{{answer.username}} Answered:</h3>
    <h4>"{{answer.comment}}"</h4>
  </div>
</div>
