<div class="row">
  <div class="col-xs-4">
    <img src={{answer.avatar}} class="answer-avatar">
    <br>
    {{answer.author}}
  </div>

  <div class="col-xs-8">
    "{{answer.comment}}"
  </div>
</div>
