{{#link-to 'question' question.id}}
<div class="row question-box">
  <div class="col-xs-2"></div>
    <div class="col-xs-2">
      <img class="ques-avatar" src={{question.avatar}}>
    </div>
    <div class="col-xs-6">
      <h4 class="ques-asked">{{question.asked}}</h4>
      <h5 class="ques-author">Asked By: {{question.author}}</h5>
    </div>
  <div class="col-xs-2"></div>
</div>
{{/link-to}}
