body {
  text-align: center;
  font-family: 'Varela', sans-serif;
  font-size: 18pt;
}

a {
  color: #2ECC40;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #5AB953;
}

/*images*/

.ques-avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.answer-avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

/*front-page*/

.question-box {
  margin-top: 20px;
  padding: 10px;
  border: solid black 4px;
  border-radius: 10px;
}

/*forms*/

label {
  font-size: 20pt;
}

.new-question-box {
  margin-top: 20px;
  border: solid black 4px;
  border-radius: 10px;
  padding: 20px;
}

.new-post-field {
  font-size: 18pt;
  width: 100%;
  height: 40px;
}

.new-post-body {
  font-size: 18pt;
  width: 100%;
  height: 200px;
}

/*indiv. question page*/

.op-question {
  font-size: 16pt;
  font-weight: bold;
}

.modify-buttons {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*.all-answers-box {
  border: solid red 2px;
}*/

.individual-answer-box {
  font-size: 14pt;
  margin-top: 20px;
  padding: 10px;
  border: solid black 4px;
  border-radius: 10px;
}

.individual-question-box {
  border: solid black 4px;
  border-radius: 10px;
}

footer {
  margin-bottom: 20px;
}
