body {
  text-align: center;
  font-family: 'Varela', sans-serif;
  font-size: 18pt;
}

a {
  color: #5EBA8C;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #5AB953;
}

.post-button {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: black;
  padding: 5px;
  width: 300px;
}

.post-button:hover {
  color: tomato;
}

.delete-button {
  background-color: tomato;
  color: black;
  border-radius: 5px;
  border: tomato;
  padding: 5px;
  width: 300px;
  margin-top: 10px;
}

.delete-button:hover {
  background-color: #FF3232;
  border: #FF3232;
}

/*images*/

.ques-avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.ques-asked {
  font-size: 20pt;
  color: black;
}

.ques-author {
  font-size: 16pt;
  color: black;
}

.answer-avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

/*front-page*/

.question-box {
  margin-top: 20px;
  padding: 10px;
  border: solid black 4px;
  border-radius: 10px;
  background-color: #5EBA8C;
  opacity: 0.7;
}

.question-box:hover {
  opacity: 1;
}

/*forms*/

label {
  font-size: 20pt;
}

.new-question-box {
  margin-top: 20px;
  border: solid black 4px;
  border-radius: 10px;
  padding: 20px;
}

.new-post-field {
  font-size: 18pt;
  width: 100%;
  height: 40px;
}

.new-post-body {
  font-size: 18pt;
  width: 100%;
  height: 200px;
}

/*indiv. question page*/

.op-question {
  font-size: 16pt;
  font-weight: bold;
}

.modify-buttons {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*.all-answers-box {
  border: solid red 2px;
}*/

.individual-answer-box {
  background-color: tomato;
  opacity: 0.7;
  font-size: 14pt;
  margin-top: 20px;
  padding: 10px;
  border: solid black 4px;
  border-radius: 10px;
  color: black;
}

.individual-question-box {
  border: solid black 4px;
  border-radius: 10px;
}

.selected-avatar {
  border: solid black 5px;
  border-radius: 10px;
}

.avatar-choice {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.avatar-choice-box {
  padding: 10px;
  margin-bottom: 20px;
}

footer {
  margin-bottom: 20px;
}
