<div class="container">
  <header>
    <h1>Welcome to The Message Board!</h1>
      {{#link-to 'index'}}Back To Home{{/link-to}}
  </header>
    {{outlet}}
    <hr>
    <footer>
      Made By <a href="https://github.com/AshleyRayMaceli">Ashley Maceli</a>
    </footer>
</div>
